/*=============================================================================================================
        BODY/RESETS
=============================================================================================================*/

* {
    margin:0px;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: 'Titillium Web', sans-serif;
    background:linear-gradient(to right,rgba(43,207,252,0.2), rgba(43,207,252,1));
    margin-top: 1rem;
    
}
/*=============================================================================================================
        HEADER
=============================================================================================================*/

.container-header{
    width: 90%;
    display:flex;
    justify-content:center;
    margin:auto;
    padding:1rem;
    background-color:white;
    border-radius:20px;
}
header {
    width: 100%;
    display:flex;
    margin:auto;
    align-items:center;
    background-color:white;
}
.logo-container,
.nav-links,
.sales {
display:flex;
}
.image1 {
    height:100px;
    width:100px;
}
.logo-container {
    align-items:center;
}
.logo-text {
    font-size:30px;
}
nav {
    text-align:center;
    flex:2;
}
.nav-links {
    
    justify-content:space-evenly;
    list-style:none;
}
.link {
text-decoration:none;
font-size:20px;
color:black;
}
.card{
    display:flex;
    justify-content:center;
    margin:auto;
    padding:1rem;
    background-color:aqua;
    border-radius:20px;
}
.products {
    display: flex;
    justify-content: center;
    align-items: center;
}
}
/*=============================================================================================================
       Main
=============================================================================================================*/

main{
    min-height: 100vh;
    background-color:white;
}